@{
    ViewData["Title"] = "What is CPMS?";
}
<body></body>
<h1 style="font-size:300%;">@ViewData["Title"]</h1>

<p style="font-size:150%;">CPMS stands for the Conference Paper Management System.<br /></p>

<p style="font-size:120%;">It is a system developed to aid in the submission and revision of publications<br />
    for the annual Consortium for Computing Sciences in Colleges Midwest (CCSCMW) conference.</p>


