@model CPMS.Models.UserModel

<div>
    <h4 style="font-size:200%;">Welcome Back, Reviewer</h>
    <hr />
    <dl class="row">
        <p style="font-size:65%;"> What would you like to do today?</p>
    </dl>
</div>
<div> 
    <a asp-controller="Paper" asp-action="Index2">Paper Table</a><br />
    <a asp-controller="Review" asp-action="Index">Reviews Table</a><br /><br />

    
    <a asp-action="Index">Logout</a>
</div>
