@model CPMS.Models.UserModel
<body></body>
<div>
    <h4 style="font-size:200%;">Welcome Back</h>
    <hr />
    <dl class="row">
        <p style="font-size:65%;"> What would you like to do today?</p>
    </dl>
</div>
<div> 
    <a asp-action="TableManagement">Go to Table Management</a> <br />
    <a asp-action="BridgeTable">Go to Bridge Table Management</a> <br />
    <a asp-action="Reports">Go to Reports</a> <br /><br />
    <a asp-action="Index">Logout</a>
</div>
