@{
    ViewData["Title"] = "Table Management";
}
<!DOCTYPE html>
<body style="background-color:lightgray"></body>
<html>
    <head>runat="server">
        <title><</title>
    </head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:GridView id="GridView1" runat="server"></asp:GridView>
        </div>
    </form>
</body>
<div>
    <a asp-action="LoginSuccess">Back</a>
</div>
</html>
